<span>
<div class="attitudeWindow yaw component">
  <div class="attitudeWindow yaw block back"></div>
  <div class="attitudeWindow yaw block front">0</div>
  <span class="attitudeWindow block component yaw">
    <input type="number" class="attitudeWindow input yaw"></input><button class="attitudeWindow send yaw">Set</button>
  </span>
</div>
<!-- <p>Yaw Setpoint: <span class="yaw-setpoint-value">--</span> &deg;</p> -->
<div class="attitudeWindow pitch component">
  <div class="attitudeWindow pitch block back"></div>
  <div class="attitudeWindow pitch block front">0</div>
  <span class="attitudeWindow block component pitch">
    <input type="number" class="attitudeWindow input pitch"></input><button class="attitudeWindow send pitch">Set</button>
  </span>
</div>
<div class="attitudeWindow roll component">
  <div class="attitudeWindow roll block back"></div>
  <div class="attitudeWindow roll block front">0</div>
  <span class="attitudeWindow block component roll">
    <input type="number" class="attitudeWindow input roll"></input><button class="attitudeWindow send roll">Set</button>
  </span>
</div>
  <p class="attitudeWindow yaw text value">Yaw: <span class="attitudeWindow yaw-value">--</span> &deg;</p>
  <p class="attitudeWindow yaw text">Yaw Rate: <span class="attitudeWindow rate yaw value-rad">--</span> rad/s or <span class="attitudeWindow rate yaw value-deg">--</span> &deg;/s</p>
  <p class="attitudeWindow pitch text">Pitch Rate: <span class="attitudeWindow rate pitch value-rad">--</span> rad/s or <span class="attitudeWindow rate pitch value-deg">--</span> &deg;/s</p>
  <p class="attitudeWindow roll text">Roll Rate: <span class="attitudeWindow rate roll value-rad">--</span> rad/s or <span class="attitudeWindow rate roll value-deg">--</span> &deg;/s</p>
<span>

