<div class="left-region pure-u-1-2">
  <div class="attitude-dial pitch-dial">
    <p>Pitch</p>
    <div class="dial-picture">
      <div class="fluid">
        <img src="../../assets/images/pitch.png" alt="" class="image-overlay">
      </div>
      <p><span class="current-value">--</span>&deg;</p>
    </div>
    <p>Set: <span class="auto-pilot-setpoint">--</span>&deg;</p>
    <form class="pure-form">
      <input type="number">
      <button class="pure-button button-success">Send</button>
    </form>
  </div>

  <div class="attitude-dial roll-dial">
    <p>Roll</p>
    <div class="dial-picture">
      <div class="fluid">
        <img src="../../assets/images/roll.png" alt="" class="image-overlay">
      </div>
      <p><span class="current-value">--</span>&deg;</p>
    </div>
     <p>Set: <span class="auto-pilot-setpoint">--</span>&deg;</p>
    <form class="pure-form">
      <input type="number">
      <button class="pure-button button-success">Send</button>
    </form>
  </div>
</div>

<div class="right-region pure-u-1-2">
  <div class="attitude-dial heading-dial">
    <p>Heading</p>
    <div class="dial-picture">
      <img src="../../assets/images/heading.png" alt="" class="image-overlay">
      <p><span class="current-value">--</span>&deg;</p>
    </div>
     <p>Set: <span class="auto-pilot-setpoint">--</span>&deg;</p>
    <form class="pure-form">
      <input type="number">
      <button class="pure-button button-success">Send</button>
    </form>
  </div>

  <div class="attitude-dial horizon-dial">
    <p>Horizon</p>
    <div class="dial-picture">
      <ul class="overlay">
          <li>90</li>
          <li>--</li>
          <li>--</li>
          <li>--</li>
          <li>0</li>
          <li>--</li>
          <li>--</li>
          <li>--</li>
          <li>--</li>
          <li>-90</li>
      </ul>
      <div class="fluid"></div>
    </div>
  </div>
</div>