<span>
<div class="yaw component">
  <p class="yaw text">Yaw Rate:<span id="yaw-rate">--</span><span class="rad">rad/s</span><p class="degree">&deg;/s</p></p>
  <div class="yaw block back"></div>
  <div class="yaw block front">0</div>
  <form class="pure-form">
    <input type="number" class="yaw"></input><button class="pure-button button-success" id="send-yaw-rate">Set</button>
  </form>
</div>
<div class="pitch component">
  <p class="pitch text">Pitch Rate:<span id="pitch-rate">--</span><span class="rad">rad/s</span><p class="degree">&deg;/s</p></p>
  <div class="pitch block back"></div>
  <div class="pitch block front">0</div>
  <form class="pure-form">
    <input type="number" class="pitch"></input><button class="pure-button button-success" id="send-pitch-rate">Set</button>
  </form>
</div>
<div class="roll component">
  <p class="roll text">Roll Rate:<span id="roll-rate">--</span><span class="rad">rad/s</span><p class="degree">&deg;/s</p></p>
  <div class="roll block back"></div>
  <div class="roll block front">0</div>
  <form class="pure-form">
    <input type="number" class="roll"></input><button class="pure-button button-success" id="send-roll-rate">Set</button>
  </form>
</div>
<span>
