<span>
<div class="yaw component">
  <div class="yaw block back"></div>
  <div class="yaw block front">0</div>
  <span class="block component yaw">
    <input type="number" class="input yaw"></input><button class="send yaw">Set</button>
  </span>
</div>
<!-- <p>Yaw Setpoint: <span class="yaw-setpoint-value">--</span> &deg;</p> -->
<div class="pitch component">
  <div class="pitch block back"></div>
  <div class="pitch block front">0</div>
  <span class="block component pitch">
    <input type="number" class="input pitch"></input><button class="send pitch">Set</button>
  </span>
</div>
<div class="roll component">
  <div class="roll block back"></div>
  <div class="roll block front">0</div>
  <span class="block component roll">
    <input type="number" class="input roll"></input><button class="send roll">Set</button>
  </span>
</div>
  <p class="yaw text value">Yaw: <span class="yaw-value">--</span> &deg;</p>
  <p class="yaw text">Yaw Rate: <span class="rate yaw value-rad">--</span> rad/s or <span class="rate yaw value-deg">--</span> &deg;/s</p>
  <p class="pitch text">Pitch Rate: <span class="rate pitch value-rad">--</span> rad/s or <span class="rate pitch value-deg">--</span> &deg;/s</p>
  <p class="roll text">Roll Rate: <span class="rate roll value-rad">--</span> rad/s or <span class="rate roll value-deg">--</span> &deg;/s</p>
<span>
