<span>
<div class="attitudeBarView yaw component">
  <div class="attitudeBarView yaw block back"></div>
  <div class="attitudeBarView yaw block front">0</div>
  <span class="attitudeBarView block component yaw">
    <input type="number" class="attitudeBarView input yaw"></input><button class="attitudeBarView send yaw">Set</button>
  </span>
</div>
<!-- <p>Yaw Setpoint: <span class="yaw-setpoint-value">--</span> &deg;</p> -->
<div class="attitudeBarView pitch component">
  <div class="attitudeBarView pitch block back"></div>
  <div class="attitudeBarView pitch block front">0</div>
  <span class="attitudeBarView block component pitch">
    <input type="number" class="attitudeBarView input pitch"></input><button class="attitudeBarView send pitch">Set</button>
  </span>
</div>
<div class="attitudeBarView roll component">
  <div class="attitudeBarView roll block back"></div>
  <div class="attitudeBarView roll block front">0</div>
  <span class="attitudeBarView block component roll">
    <input type="number" class="attitudeBarView input roll"></input><button class="attitudeBarView send roll">Set</button>
  </span>
</div>
  <p class="attitudeBarView yaw text value">Yaw: <span class="attitudeBarView yaw-value">--</span> &deg;</p>
  <p class="attitudeBarView yaw text">Yaw Rate: <span class="attitudeBarView rate yaw value-rad">--</span> rad/s or <span class="attitudeBarView rate yaw value-deg">--</span> &deg;/s</p>
  <p class="attitudeBarView pitch text">Pitch Rate: <span class="attitudeBarView rate pitch value-rad">--</span> rad/s or <span class="attitudeBarView rate pitch value-deg">--</span> &deg;/s</p>
  <p class="attitudeBarView roll text">Roll Rate: <span class="attitudeBarView rate roll value-rad">--</span> rad/s or <span class="attitudeBarView rate roll value-deg">--</span> &deg;/s</p>
<span>
