<div class="battery-percentage-display"  id="internal-battery-percentage">
  <div class = "battery-percentage-level">
    <p> Internal Battery Percentage</p>
    <p class="battery-percentage-view" title="Battery Level in %">--%</p>
    <div class="battery-picture">
      <div class="battery-base">
        <span class="percentage"></span>
      </div>
        <div class="battery-tip"></div>
      </div>
      <p class="battery-message"></p>
    </div>

  <div class = "battery-percentage-level" id="motor-battery-percentage">
    <p> Motor Battery Percentage</p>
    <p class="battery-percentage-view" title="Battery Level in %">--%</p>
      <div class="battery-picture">
        <div class="battery-base">
          <span class="percentage"></span>
        </div>
        <div class="battery-tip"></div>
      </div>
      <p class="battery-message"></p>
    </div>
</div>
