<div class="controllerInputsView square back onefour">
  <div class="controllerInputsView circle front onefour">
  <p class="controllerInputsView value one">0,</p><p class="controllerInputsView value four">0</p>
  </div>
</div>

<div class="controllerInputsView square back twothree">
  <div class="controllerInputsView circle front twothree">
  <p class="controllerInputsView value two">0,</p><p class="controllerInputsView value three">0</p>
  </div>
</div>

<button class="controllerInputsView auto-pilot">Auto Pilot On</button>