<p>Last Received Data at:
    <time id="last-received-date"><%= last_received_date %></time>
</p>

<p>Keep Last Valid Packet: <span><input id="keep_last_valid_packet" type="checkbox"></span></p>

<% _.each(telemetry_data, function(values, packet_name) { %>
<table class="pure-table pure-table-bordered packet-type">
    <thead>
    <tr>
        <th colspan="2"><%= packet_name %></th>
    </tr>
    </thead>

    <tbody>
    <% _.each(values, function(value, header_name) { %>
    <tr>
        <td class="header-name"><%= header_name %></td>
        <td class="header-value"><%= JSON.stringify(value) %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% }); %>