<p>Last Received Data at:
    <time id="last-received-date"><%= last_received_date %></time>
</p>

<div class="pure-form">
    <label for="keep-state-history">
        <input type="checkbox" id="keep-state-history" <%= keep_state_history? 'checked' : '' %> > Keep State History
    </label>
    <label for="view-raw-data">
        <input type="checkbox" id="view-raw-data" <%= view_raw_data? 'checked' : '' %> > View Raw Data
    </label>
</div>

<% if(view_raw_data) { %>
<pre id="raw-telemetry-data-view">
    <%= JSON.stringify(raw_telemetry_data, null, 2) %>
</pre>

<% } else {
    _.each(telemetry_data, function(values, packet_name) { %>
<table class="pure-table pure-table-bordered packet-type">
    <thead>
    <tr>
        <th colspan="2"><%= packet_name %></th>
    </tr>
    </thead>

    <tbody>
    <% _.each(values, function(value, header_name) { %>
    <tr>
        <td class="header-name"><%= header_name %></td>
        <td class="header-value">
            <% if(value === null && keep_state_history){ %>
                <%= JSON.stringify(value) %>
            <%} else { %>
                <%= raw_telemetry_data[header_name] %>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% });
}%>