<button class="pure-button button-secondary" id="write-mode-button">Write Mode</button>

<button class="pure-button button-error" id="arm-plane-button">Arm Plane</button>

<button class="pure-button button-warning" id="disarm-plane-button">Disarm Plane</button>

<button class="pure-button button-error" id="kill-plane-button">Kill Plane</button>

<button class="pure-button button-warning" id="unkill-plane-button">Unkill Plane</button>

<button class="pure-button button-secondary" id="heartbeat-button">Start Heartbeat</button>