<div>
  <div id="emergency-button-region">
        
  </div>
  <div id="left-region">
      
    <div id="top-left-region">
    
    </div>
    <div id="bottom-left-region">
      <div id="status-region">
        
      </div>
      <div id="console-region">
        
      </div>
    </div>
  </div>
</div>

<div id="right-region">
  
</div>

<script>
 $('.mainLayoutView').split({
    orientation: 'vertical',
    limit: 0,
    position: '55%' // if there is no percentage it interpret it as pixels
});

 $('#left-region').split({
    orientation: 'horizontal',
    limit: 0,
    position: '65%' // if there is no percentage it interpret it as pixels
});
</script>