<div class="map-controls">
  <button class="pure-button button-success" id="send-path-button">Send Path</button>
  <button class="pure-button button-secondary" id="add-waypoint-button">Add Waypoint</button>
  <button class="pure-button button-error" id="delete-waypoint-button">Delete Waypoint</button>
  <button class="pure-button button-error" id="clear-local-path-button">Clear Local Path</button>
  <button class="pure-button button-error" id="clear-remote-path-button">Clear Remote Path</button>
  <p>Path Verified: <span id="path-verified">--</span></p>
</div>
<div class="map-controls">
  <button class="pure-button button-secondary" id="start-following-button">Start Following</button>
  <button class="pure-button button-error" id="clear-plane-trail-button">Clear Trail</button>
  <form class="pure-form" id="new-follow-index"><input type="number" placeholder="Follow waypoint?"></input><button class="pure-button button-success">Send</button></form>
  <p>Following: <span id="remote-waypoint-index">--</span></p>
  <div class="pure-form">
    <input type="text" id="marker-lat" placeholder="Marker Latitude" style="width: 70px">
    <input type="text" id="marker-lon" placeholder="Marker Longitude" style="width: 70px">
  </div>
  <button id="new-marker-button" class="pure-button button-success">Add</button>
</div>

<div id="leaflet-map">
  
</div>

<div class="plane-location">
  Plane Location: <span class="plane-latitude">--</span> lat, <span class="plane-longitude">--</span> lon
</div>