<div style="padding: 12px; text-align: center">
	<h1>Probe Drop Statuses</h1>
	<p class="pure-form">Probe 1 Status: <span id="probe1-status">--</span> <button class="pure-button button-success" id="drop-probe-1-button">Drop Probe</button> <button class="pure-button button-warning" id="reset-probe-1-button">Reset Probe</button></p>
	<p class="pure-form">Probe 2 Status: <span id="probe2-status">--</span> <button class="pure-button button-success" id="drop-probe-2-button">Drop Probe</button> <button class="pure-button button-warning" id="reset-probe-2-button">Reset Probe</button></p>
	<p class="pure-form">Probe 3 Status: <span id="probe3-status">--</span> <button class="pure-button button-success" id="drop-probe-3-button">Drop Probe</button> <button class="pure-button button-warning" id="reset-probe-3-button">Reset Probe</button></p>
</div>