<div class="battery-level">
<p>Internal Battery</p>
<div id="internal-battery-percent-region"> </div>
</div>

<div class="battery-level">
<p>External Battery</p>
<div id="external-battery-percent-region"> </div>
</div>

<div class="time-view">
  <p title="Time received from the GPS" >UTC Time</p>
  <time id="utc-time">--</time>
  <p title="Time since the autopilot started">System Time</p>
  <time id="system-time">--</time>
</div>

<!-- <div class="gps-status">
  <p>GPS Status:</p>
  <p class="gps-message" > </p>
</div>
 -->
<div class="statuses">

</div>

<div class="transmission-rate-view">
  <p>Data Rate: <span id="transition-rate">0/s</span></p>
  <p>DL RSSI: <span id="dl-rssi">--</span></p>
  <p>UL RSSI: <span id="ul-rssi">--</span></p>
  <p>UHF RSSI: <span id="uhf-rssi">--</span>%</p>
  <p>UHF Link Quality: <span id="uhf-link-quality">--</span>%</p>
  <p>UL Receive Errors: <span id="receive-errors">--</span></p>
  <p>DL Transmission Errors: <span id="transmission-errors">--</span></p>
</div>
