<form class="waypointPopup pure-form waypointPopupForm">
	<div class="waypoint-input">
		<span>Altitude:</span>
		<input class="waypoint-altitude" type="number"></input>
	</div>
	<div class="waypoint-input">
		<span>Radius:</span>
		<input class="waypoint-radius" type="number"></input>
	</div>

	<div class="checkbox-wrapper"><input class="is-probe" type="checkbox"><span style="margin-left: 5px;">Is A Probe Drop?</span></input></div>

	<button class="pure-button button-success">Set</button>
</form>
