#canvas {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    border-style: none;
}
#log {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    border-style: none;
    width: 100%;
    position: fixed;
    height: 10%;
    background-color: #f0f0f0;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}
.logText {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 1em;
    line-height: 1.5em;
}