body {
    background-color: #607d8b;
}
#map {
    height: 200px;
}
#horizon {
    margin: 0.5em auto;
    border-style: none;
}
#altimeter {
    margin: 1em auto;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    border-style: none;
    width: 7em;
    height: 1.5em;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}
#log {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    border-style: none;
    width: 100%;
    position: fixed;
    height: 10%;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}
.logText {
    margin-top: 0.5em;
    text-align: center;
    font-family: "Calibri";
    font-size: 1em;
    line-height: 1.5em;
}