body {
    background-color: #607d8b;
    font-family: "Calibri";
}
#map {
    margin: 0 auto;
    right: 0;
    bottom: 0;
    border-style: none;
    width: 33%;
    position: fixed;
    height: 100%;
}
.instrument {
    margin: 0.5em auto;
    border-style: none;
}
#altimeter, #speed {
    margin: 1em auto;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    border-style: none;
    width: 10em;
    height: 1.5em;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}
#log {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    color: #000;
    border-style: none;
    width: 67%;
    position: fixed;
    height: 10%;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}
.logText {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}
.button {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 0.5em;
    margin: 0.1em;
    border-style: none;
    background-color: #607d8b;
    -webkit-transition: background-color .15s ease-in-out;
}
.button:hover {
    background-color: #546e7a;
    cursor: pointer;
}
.button:active {
    background-color: #455a64;
    cursor: pointer;
}
