body {
    background-color: #607d8b;
    font-family: "Calibri";
}

.dropdown {
    display: block;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    width: 6em;
    margin: 0.1em;
}

.display {
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    height: 20px;
    width: 5em;
    margin: 0.1em;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}

#cockpit {
    display: inline;
}

#meters {
    display: inline;
}

#gains {
    display: inline;
    position: fixed;
    margin-left: 2em;
}

#buttonContainer {
    display: inline;
    position: fixed;
    top: 0;
    right: 0.5em;
}

#path {
    display: inline-block;
}

#map {
    margin: 0 auto;
    right: 0;
    bottom: 0;
    border-style: none;
    width: 33%;
    position: fixed;
    height: 95%;
}

.instrument {
    margin: 0.5em auto;
    border-style: none;
}

.input {
    display: inline-block;
    border-style: none;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    width: 5em;
    margin: 0.1em;
}

#log {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    color: #000;
    border-style: none;
    width: 67%;
    position: fixed;
    height: 10%;
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
}

.text {
    font-family: "Calibri";
    font-size: 1em;
    color: #fff;
}

.logText {
    line-height: 1.5em;
    text-align: center;
    font-size: 1em;
}

.button {
    background-color: #cfd8dc;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.24);
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 0.5em;
    margin: 0.1em;
    border-style: none;
    background-color: #607d8b;
    -webkit-transition: background-color .15s ease-in-out;
}

.button:hover {
    background-color: #546e7a;
    cursor: pointer;
}

.button:active {
    background-color: #455a64;
    cursor: pointer;
}

.messagebox-gpsfix {
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 6px 13px;
    color: #fff;
    font-weight: bold;
}