<div class="altitude-dial height-dial">
  <p>Altitude</p>
  <div class="dial-picture">
    <div class="hand dial-hand"></div>
    <ul class="labels">
      <li class="hand tick text-tick"><div>0</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>50</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>100</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>150</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
    </ul>
    <p><span class="current-value">--</span>m</p>
  </div>
  <p>Set: <span class="auto-pilot-setpoint">--</span>m</p>
  <form class="pure-form">
    <input type="number">
    <button class="pure-button button-success">Send</button>
  </form>
</div>

<div class="altitude-dial ground-speed-dial">
  <p>Ground Speed</p>
  <div class="dial-picture">
    <div class="hand dial-hand"></div>
    <ul class="labels">
      <li class="hand tick text-tick"><div>0</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>10</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>20</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>30</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
    </ul>
    <p><span class="current-value">--</span>m/s <br> <span class="current-valuekmh">--</span>km/h</p>
  </div>
  <!-- Spacers -->
  <p>&nbsp;</p>
   <form class="pure-form">
    &nbsp;
  </form>
</div>

<div style="text-align: center" class="center-wrapper">
<div style="margin-top: 5px" class="altitude-dial air-speed-dial">
  <p>Air Speed</p>
  <div class="dial-picture">
    <div class="hand dial-hand"></div>
    <ul class="labels">
      <li class="hand tick text-tick"><div>0</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>10</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>20</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick text-tick"><div>30</div></li>
      <li class="hand tick"><div></div></li>
      <li class="hand tick long-tick"><div></div></li>
      <li class="hand tick"><div></div></li>
    </ul>
    <p><span class="current-value">--</span>m/s <br> <span class="current-valuekmh">--</span>km/h</p>
  </div>
  <!-- Spacers -->
  <p>&nbsp;</p>
   <form class="pure-form">
    &nbsp;
  </form>
</div>
</div>