<h1 style="text-align: center">Autonomous Level Adjust</h1>
<table class="pure-table" style="margin-left: -10px" >
    <thead>
        <tr>
            <th></th>
            <th>Pitch Source</th>
            <th>Roll Source</th>
            <th>Heading Source</th>
            <th>Altitude Source</th>
            <th>Throttle Source</th>
            <th>Flaps Source</th>

        </tr>
    </thead>
    <tbody> 
        <tr>
            <td>Control <br> Type </td>
            <td>
            <select>
                 <option value="PitchRate">Rate</option>
                 <option value="PitchAngle">Angle</option>
                </select> 
            </td>
            <td>
                <select>
                 <option value="RollRate">Rate</option>
                 <option value="RollAngle">Angle</option>
                </select> 
            </td>
        </tr>
        <tr>
            <td>Control <br> Source </td>
            <td>
                
                <select>
                 <option value="PitchController">Controller</option>
                 <option value="PitchGroundStation">Ground Station</option>
                </select> 
                
            </td>
    <td>
                <select>
                 <option value="RollController">Controller</option>
                 <option value="RollGround Station">Ground Station</option>
                </select> 
            </td>
    <td>
                <select>
                 <option value="HeadGround Station">Off</option>
                 <option value="HeadAutopilot">Autopilot</option>
                 <option value="HeadGround Station">Ground Station</option>
                </select> 
            </td>
    <td>
                <select>
                 <option value="AltGroundStation">Off</option>
                 <option value="AltAutopilot">Autopilot</option>
                 <option value="AltGroundStation">Ground Station</option>
                </select> 
            </td>
    <td>
                <select>
                 <option value="ThrottleController">Controller</option>
                 <option value="ThrottleGroundStation">Ground Station</option>
                 <option value="ThrottleAutopilot">Autopilot</option>
                </select> 
            </td>
    <td>
                <select>
                 <option value="FlapsController">Controller</option>
                 <option value="FlapsGroundStation">Ground Station</option>
                 <option value="FlapsAutopilot">Autopilot</option>
                </select> 
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
            <button class="pure-button button-secondary">Send Pitch</button>    
            </td>
            <td>
            <button class="pure-button button-secondary">Send Roll</button>    
            </td>
            <td>
            <button class="pure-button button-secondary">Send Heading</button>    
            </td>
            <td>
            <button class="pure-button button-secondary">Send Alt</button>    
            </td>
            <td>
            <button class="pure-button button-secondary">Send Throttle</button>    
            </td>
            <td>
            <button class="pure-button button-secondary">Send Flaps</button>   
            </td> 
            
        </tr>
</tbody>
</table>

<div class="wrapper">
    <button class="pure-button button-secondary" style="margin-top: 50px" >Send All</button>
    <button class="pure-button button-secondary" style="margin-top: 50px" >Full RC Control</button>
</div>
