<h1 style="text-align: center">Autonomous Level Adjust</h1>
<table class="pure-table pure-form">
  <thead>
    <tr>
      <th></th>
      <th>Pitch</th>
      <th>Roll</th>
      <th>Heading</th>
      <th>Altitude</th>
      <th>Throttle</th>
      <th>Flaps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Control <br> Type </td>
      <td>
        <select id="pitchtype">
          <option value="Rate">Rate</option>
          <option value="Angle">Angle</option>
        </select>
      </td>
      <td>
        <select id="rolltype">
          <option value="Rate">Rate</option>
          <option value="Angle">Angle</option>
        </select>
      </td>
      <td>
        <select id="headingtype">
          <option value="Off">Off</option>
          <option value="On">On</option>
        </select>
      </td>
      <td>
        <select id="altitudetype">
          <option value="Off">Off</option>
          <option value="On">On</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Control <br> Source </td>
      <td>
        
        <select id="pitchsource">
          <option value="Controller">Controller</option>
          <option value="Ground Station">Ground Station</option>
        </select>
        
      </td>
      <td>
        <select id="rollsource">
          <option value="Controller">Controller</option>
          <option value="Ground Station">Ground Station</option>
        </select>
      </td>
      <td>
        <select id="headsource">
          <option value="Ground Station">Ground Station</option>
          <option value="Autopilot">Autopilot</option>
        </select>
      </td>
      <td>
        <select id="altsource">
          <option value="Ground Station">Ground Station</option>
          <option value="Autopilot">Autopilot</option>
        </select>
      </td>
      <td>
        <select id="throttlesource">
          <option value="Controller">Controller</option>
          <option value="Ground Station">Ground Station</option>
          <option value="Autopilot">Autopilot</option>
        </select>
      </td>
      <td>
        <select id="flapssource">
          <option value="Controller">Controller</option>
          <option value="Ground Station">Ground Station</option>
          <option value="Autopilot">Autopilot</option>
        </select>
      </td>
    </tr>
    
  </tbody>
</table>

<table class="pure-table pure-form" style="margin-top: 12px">
  <thead>
    <tr>
      <th></th>
      <th>Pitch</th>
      <th>Roll</th>
      <th>Heading</th>
      <th>Altitude</th>
      <th>Throttle</th>
      <th>Flaps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Control <br> Type </td>
      <td>
        <p id="remote_pitch_type">--</p>
      </td>
      <td>
        <p id="remote_roll_type">--</p>
      </td>
      <td>
        <p id="remote_heading_toggle">--</p>
      </td>
      <td>
        <p id="remote_altitude_toggle">--</p>
      </td>
    </tr>
    <tr>
      <td>Control <br> Source </td>
      <td>
        <p id="remote_pitch_source">--</p>
      </td>
      <td>
        <p id="remote_roll_source">--</p>
      </td>
      <td>
        <p id="remote_heading_source">--</p>
      </td>
      <td>
        <p id="remote_altitude_source">--</p>
      </td>
      <td>
        <p id="remote_throttle_source">--</p>
      </td>
      <td>
        <p id="remote_flap_source">--</p>
      </td>
    </tr>
  </tbody>
</table>
<div class="wrapper" style="margin-top: 50px">
  <button id="sendall" class="pure-button button-success">Send All</button>
  <button id="fullRC" class="pure-button button-error" >Full RC Control</button>
  <button id="fullGround" class="pure-button button-secondary" >Full Ground Control</button>
  <button id="fullAuto" class="pure-button button-secondary" >Full Autopilot</button>
</div>