<div class="pure-g">
  <div class="attitude-region pure-g pure-u-1-2">
    <div class="left-region pure-u-1-2">
      <div class="attitude-dial pitch-dial">
        <p>Pitch</p>
        <canvas id="pitch-dial-canvas"></canvas>
        <form class="pure-form">
          <input type="number">
          <button class="pure-button button-success">Send</button>
        </form>
      </div>

      <div class="attitude-dial roll-dial">
        <p>Roll</p>
        <canvas id="roll-dial-canvas"></canvas>
        <form class="pure-form">
          <input type="number">
          <button class="pure-button button-success">Send</button>
        </form>
      </div>
    </div>
    
    <div class="right-region pure-u-1-2">
      <div class="attitude-dial heading-dial">
        <p>Heading</p>
        <canvas id="heading-dial-canvas"></canvas>
        <form class="pure-form">
          <input type="number">
          <button class="pure-button button-success">Send</button>
        </form>
      </div>

      <div class="attitude-dial heading-dial">
        <p>Horizon</p>
        <canvas id="heading-dial-canvas"></canvas>
      </div>
    </div>
  </div>

  <div class="altitude-region pure-u-1-2">
    
  </div>

  <div class="throttle-region pure-u-1-1">
    
  </div>
</div>