
<table class="pure-table" style="margin-left: -10px" >
    <tr>
        <td>
        File Name    
        </td> 
        <td>
        <form class="pure-form"><input type="text"></form>  
        </td> 
    </tr>
    <tr>
        <td>
        Comment    
        </td> 
        <td>
        <form class="pure-form"><input type="text"></form>     
        </td> 
        
    </tr>
</table>
<div class="wrapper">
    <button id="sendall" class="pure-button button-secondary" style="margin-top: 50px" >Save Comment</button>
    <button id="fullRC" class="pure-button button-secondary" style="margin-top: 50px" >Save K Values</button>
    <button id="fullRC" class="pure-button button-secondary" style="margin-top: 50px" >Load K Values</button>
</div>
