<div style="text-align: center" >
  <table class="pure-table"  >
    <tr>
      <td>
        File Name
      </td>
      <td class="pure-form">
        <input id="fileName" type="text">
      </td>
    </tr>
    <tr>
      <td>
        Comment
      </td>
      <td class="pure-form">
        <input id="comment" placeholder="Optional comment here" type="text">
      </td>
      
    </tr>
  </table>
</div>
<button id="saveComment" class="pure-button button-secondary" style="margin-top: 50px" >Save Comment</button>