<div style="text-align: center" >
  <table class="pure-table"  >
    <tr>
      <td>
        File Name
      </td>
      <td>
        <form class="pure-form"><input id="fileName" type="text"></form>
      </td>
    </tr>
    <tr>
      <td>
        Comment
      </td>
      <td>
        <form class="pure-form"><input id="comment" type="text"></form>
      </td>
      
    </tr>
  </table>
</div>
<button id="saveComment" class="pure-button button-secondary" style="margin-top: 50px" >Save Comment</button>