<h1>Gains Adjust</h1>

<table class="pure-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Yaw</th>
            <th>Pitch</th>
            <th>Roll</th>
            <th>Heading</th>
            <th>Altitude</th>
            <th>Throttle</th>
            <th>Flap</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>KP</td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
        </tr>

        <tr>
            <td>KD</td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
        </tr>

        <tr>
            <td>KI</td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
            <td><form class="pure-form"><input type="text"></form></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
          <td><button class="pure-button button-success">Send</button></td>
        </tr>
    </tbody>
</table>

<form class="pure-form" style="margin-top: 12px">
    <button class="pure-button button-secondary">Send All</button>
    <button class="pure-button button-error">Reset to Default</button>
</form>
