<div class="map-controls">
  <button class="pure-button button-success" id="send-path-button">Send Path</button>
  <button class="pure-button button-secondary" id="start-following-button">Start Following</button>
  <button class="pure-button button-secondary" id="add-waypoint-button">Add Waypoint</button>
  <button class="pure-button button-error" id="delete-waypoint-button">Delete Waypoint</button>
  <button class="pure-button button-error" id="clear-plane-trail-button">Clear Trail</button>
  <button class="pure-button button-error" id="clear-path-button">Clear Path</button>
  <p>Path Verified: <span id="path-verified">--</span></p>
</div>

<div id="leaflet-map">
  
</div>

<div class="plane-location">
  Plane Location: <span class="plane-latitude">--</span> lat, <span class="plane-longitude">--</span> lon
</div>