<div class="battery-level">
  <p>Battery</p>
  <p class="battery-percentage" title="Battery Level in %">--%</p>
  <div class="battery-picture">
    <div class="battery-base">
      <span class="percentage"></span>
    </div>
    <div class="battery-tip"></div>
  </div>
  <p class="battery-message"></p> 
</div>

<div class="statuses">
  <button id="clear-statuses-button" class="pure-button button-error">Clear</button>
</div>

<div class="time-view">
  <p title="The time as received from the PicPilot" >Time</p>
  <time class="vehicle-time">--</time>
  <p title="The time elapsed since the data was first received from the data relay station">Elapsed Time</p>
  <time class="elapsed-time">--</time>
  <button id="reset-elapsed-time" title="Reset the elapsed time" class="pure-button button-error">Reset</button>
</div>