.altitudeWindow {
}

.fixed-display{
	color: rgba(255,255,255,1);
}

.altitude-display {
	color: rgba(255,255,1,1);
	position: absolute;
	margin-left: 28%;
	top: 0;
}

.rectangular {
	width: 150px;
	left: 40%;
	position: absolute;
}

.back {
	background-color: rgba(255,255,144,1);
	height: 400px;
}

.front {
	height: 400px;
	background-color: rgba(32,32,32,1);
}

.max-height {
	position: absolute;
	margin-left: 28%;
	margin-top: -7%;
	color: rgba(255,255,144,1);
}

.ipt-max-height {
	width: 60px;
}