.appSettingsView{
  height: 100%;
  width: 100%;
}
.appSettingsView h1, .appSettingsView h2,.appSettingsView p{
  text-align: center;
  color: #FAFAFA;
}
.appSettingsView .setting{
  margin: 12px auto 0 auto;
  max-width: 448px;
  display: flex;
  justify-content: space-between;
  height: 36px;
}
}
.appSettingsView .setting p{
  display: inline-block;
  margin: 0 12px 0 0;
  float: left;
}
.appSettingsView .setting input{
  float: right;
}

.appSettingsView .button-wrapper{
  display: flex;
  max-width: 448px;
  justify-content: space-between;
  margin: 20px auto 12px auto;
}