.attitudeWindow.block{
  margin-top: 10%;
  position: absolute;
}

.attitudeWindow.block.component{
  margin-top: 550px;
}

.attitudeWindow.block.component.yaw{
  margin-left: 10%;
}
.attitudeWindow.block.component.pitch{
  margin-left: 45%;
}
.attitudeWindow.block.component.roll{
  margin-left: 80%;
}
.attitudeWindow.input{
  //margin-top: 30%;
  width: 40px;
}
.attitudeWindow.send{
  //margin-top: ;
  left: 10%;
}

.attitudeWindow.text{
  position: absolute;
}

.attitudeWindow.block.front{
  background-color: rgba(32,32,32,1);
  color: rgba(222,222,222,1);
  text-align: center;
  height: 200px;
  width: 100px;
}

.attitudeWindow.block.back{
  height: 400px;
  width: 100px;
  background-color: rgba(244,233,177,1);
}

.attitudeWindow.yaw.block{
  //margin-top: 10%;
  margin-left: 10%;
}

.attitudeWindow.pitch.block{
  //margin-top: 10%;
  margin-left: 45%;
  margin-right: 45%;
  //display: none;
}

.attitudeWindow.roll.block{
  //margin-top: 10%;
  margin-left: 80%;
  margin-right: 10%;  
  //display: none;
}

.attitudeWindow.yaw.text.value{
  margin-top: 5%;
}

.attitudeWindow.yaw.text{
  margin-left: 10%;
}

.attitudeWindow.pitch.text{
  margin-left: 45%;
}

.attitudeWindow.roll.text{
  margin-left: 80%;
}

.attitudeWindow.input{
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(255,255,255);
  
}

.attitudeWindow.send{
  border-radius: 6px;
  border-style: solid;
  background-color: rgba(27,177,62,1);
  border-color: rgba(27,177,62,1);
  color: rgba(189,192,186,1);
}
