#console{
  overflow: auto;
  padding-left: 12px;
  padding-left: 8px;
  height: calc(100% - 69px);
  box-sizing: border-box;
}
#console .message{
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  white-space: pre;
  overflow-wrap: break-word;
  font-family: Ubuntu Mono;
}
#console .message time{
  color: white;
  margin-right: 8px;
  background-color: green;
  font-weight: 600;
}
#console .error-message{
  color: rgb(255, 101, 101);
}
#console .info-message{
  color: rgb(164, 255, 245);
}
#console .debug-message{
  color: rgb(118, 118, 118);
}
#console .warn-message{
  color: rgb(255, 136, 84);
}
#console .data-message{
  color: rgb(84, 255, 86);
}

.consoleView #console-display-options{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 4px 0 4px 0;
  height: 26px;
  top: 0;
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(17,17,17,1) 99%,rgba(44,44,44,1) 100%,rgba(0,0,0,1) 100%,rgba(19,19,19,1) 100%,rgba(44,44,44,1) 101%);
}
.consoleView #console-display-options label{
  cursor: pointer;
}

.consoleView #commands-input-form{
  width: 100%;
  height: 43px;
  bottom: 0;
  margin: 0;
  position: absolute;
  padding-left: 12px;
  box-sizing: border-box;
  padding-right: 12px;
  padding-top: 3px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(71,71,71,1) 39%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(17,17,17,1) 99%,rgba(44,44,44,1) 100%,rgba(0,0,0,1) 100%,rgba(19,19,19,1) 100%,rgba(44,44,44,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.consoleView #commands-input-form input{
  display: inline-block;
}
.consoleView #commands-input-form input[type=text]{
  width: calc(100% - 153px);
  max-width: 500px;
  text-align: left;
}
