.dataView {
    padding: 10px;
}

.dataView .packet-type {
    width: 100%;
    margin: 10px 0 10px 0;
}

.dataView .header-value {
    color: aquamarine;
}

.dataView .header-name {
    color: lawngreen;
}

.dataView #last-received-date {
    color: yellow;
}