.emergencyButtonsView{
	height: 40px;
	width: 100%;
	box-sizing:border-box;
	display: flex;
	align-content: center;
	justify-content: flex-start;
}
.emergencyButtonsView button{
	height: 35px;
	margin-top: 2px;
	margin-left: 5px;
}