.statusView{
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Akashi;
}

.statusView .statuses{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;
}
.statusView .statuses .status{
  margin: 2px 0 2px 0;
  flex-shrink: 0;
}
.statusView .statuses .status:last-child{
  padding-top: 5px;
}
.statusView .statuses .status.status-high{
  font-size: 20px;
}
.statusView .statuses .green{
  color: rgb(0, 191, 19);
}
.statusView .statuses .red{
  color: rgb(255, 101, 101);
}
.statusView .statuses .status.status-medium{
  color: orange;
  font-size: 18px;
}.statusView .statuses .status.status-low{
  color: rgb(0, 255, 129);
  font-size: 16px;
}
.statusView .battery-level{
  height: 100%;
  width: 20%;
  text-align: center;
}

.statusView .statuses{
  height: 100%;
  width: 60%;
  text-align: center;
}

.statusView .time-view{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.statusView .time-view p{
  margin: 8px 0 5px 0;
  color: lightgrey;
}

.statusView .time-view time{
  color: white;
}

#reset-elapsed-time,#clear-statuses-button{
  height: 27px;
  width: 71px;
  padding: 0;
  display: block;
  margin: 7px auto 4px auto;
  border-radius: 2px;
}  
#clear-statuses-button{
  flex-shrink: 0;
  height: 19px;
}

.statusView  .battery-level{
  font-size: 16px;
}
.statusView  .battery-level .battery-percentage{
  margin-top: 4px;
}
.statusView  .battery-level .battery-message{
  margin-top: 4px;
}

.statusView .battery-level p{
  margin: 8px 0 0 0;
  color: lightgrey;
}
.statusView .battery-picture{
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.statusView .battery-picture .battery-base{
  border: 1px solid white;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.statusView .battery-picture .battery-base .percentage{
  display: block;
  background: green;
  height: 100%;
  width: 0%;
}

.statusView .battery-picture .battery-tip{
  height: 10px;
  width: 5px;
  border: 1px solid white;
  border-left: none;
}


.statusView  .gps-status{
  font-size: 16px;
  color: white;
  width: 120px;
}
.statusView  .gps-status .gps-message{
  font-size: 14px;
  margin-top :4px;
}