.throttleView{
  height:100%;
  width: 100%;
  padding: 12px 12px 0 12px;
  box-sizing: border-box;
}
.throttleView p{
  font-size: 16px;
  color: lightgray;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
}
.throttleView p .value{
  font-weight: bold;
}
.throttleView form{
  padding: 0 8px 0 8px;
  height: 32px;
  text-align: center;
  font-size: 14px;
}
.throttleView form input{
  width: calc(100% - 70px);
  height: 100%;
  text-align: left;
  max-width: 130px;
}
.throttleView form button{
  height: 100%;
  padding: 0 8px 0 8px;
}
.throttleView .form-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}