.leaflet-altitude-legend {
	top: -4px;
	text-align: center;
	color: #fff;
	font-size: 110%;
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	width: 36px;
	margin-left: -13px;
	padding-top: 15px;
}

.leaflet-altitude-legend:focus {
	outline: 0;
}

.leaflet-altitude-legend > div {
	display: none;
	position: absolute;
	background: rgba(72, 72, 72, 0.72);
	top: -54px;
	left: 36px;
	border-radius: 4px;
	padding: 2px;
	text-align: center;
}

.leaflet-altitude-legend > div:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-right-color: rgba(72, 72, 72, 0.72);
	border-width: 5px;
	margin-top: -7px;
}
